<!DOCTYPE html>
<html>

<head>
    <%include head.ejs%>
        <title>Dodaj test</title>
</head>

<body>
    <%include navbar.ejs%>
        <div class="container body-content" >
            <div class="ibox">
                <div class="row">
                    <form class="form form-horizontal" id="nowy_test" method="POST" action="/zapisz">
                        <br>
                        Nazwa testu: 
                        <input class="form-control" type="text" name="nazwa" value="">
                        Przedmiot: 
                      
                        <select class="form-control" name="przedmiot" form="nowy_test">
                            <option value="Informatyka">Informatyka</option>
                            <option value="Matematyka">Matematyka</option>
                            <option value="Fizyka">Fizyka</option>
                            <option value="Mechanika">Mechanika</option>
                          </select>
                        Czas rozwiązywania testu: 
                        <input class="form-control" type="number" name="czas" value="" min="0" step="1"/>
                        Ilość pytań: 
                        <input class="form-control" type="number" name="ilosc_pytan" value="1"  min="1" step="1"/>
                        <br>
                        <input class="btn btn-default" type="submit" name="recznie" value="Dodaj Pytania Ręcznie">
                        <input class="btn btn-default" type="submit" name="losowo" value="Generuj Losowo">
                    </form>
                </div>
            </div>
        </div>
        <%include scripts.ejs%>
</body>

</html>