<!DOCTYPE html>
<html>

<head>
    <%include head.ejs%>
        <title>Dodaj test</title>
</head>

<body>
    <%include navbar.ejs%>
        <div class="container body-content">
            <div class="ibox">
                <div class="row">
                    <form class="form form-horizontal" method="POST" action="/zapisz">
                        <input class="form-control" type="text" name="nazwa" value="">
                        <input class="btn btn-default" type="submit">
                    </form>
                </div>
            </div>
        </div>
        <%include scripts.ejs%>
</body>

</html>