<div class="navbar navbar-inverse navbar-fixed-top bg-dark">
    <div class="">
        <div class="navbar-header">
           <a href="#" class="navbar-brand">Testy Online</a>
        </div>        
    </div>
</div>