<div class="navbar navbar-inverse navbar-fixed-top bg-dark">
    <div class="">
        <div class="navbar-header">
           <a href="#" class="navbar-brand">Testy Online</a>
        </div>    
        <ul class="nav navbar-nav">
                <li><a href="/">Strona Główna</a></li>
                <li><a href="/Logowanie">Wyloguj</a></li>
            </ul>    
    </div>
</div>